body{
	background-image: url("../images/background.png");
	}

div{
	background-color: white:
	margin: 10px;
	width: 30%;
	}

div{
	border: solid 5px white;
	padding: 10px;
	}

div.header, div.instructions{
	width: 50%;
}

.numberstomatch, .winsandlosses{
	float: left;
	width: 20%;
	height: 50px;

}

.userTotal{
	width: 20%;
	height: 50px;
}

.gems{
	clear: both;
}

